# Ignorar checkpoints de Jupyter
.ipynb_checkpoints/

# Ignorar arquivos temporários
*.log
*.tmp

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ambiente virtual
.venv/
.venv
.python-version
project_code.zip
__pycache__/
*.pyc
.env
.zip
.txt